form{
    width: 318px;
    height: 200px;
    margin: auto;
    margin-top: 52px;
    padding-top: 50px;

}
h1{
   
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:cornflowerblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif  
}
body{
    background-position: center;
    background-size: cover;
    background-color: bisque;
   
}

#userName,#userPassword{
 width : 274px;
 height : 34px;
 padding-left: 3px;
}
#UserLogin{
    width: 111px;
    height: 34px;
    margin-left: 85px;
    background-color: cyan;
}
sup{
    color: red;
}
#signup{
    width: 111px;
    height: 34px;
    margin-left: 85px;
    background-color: cyan;
}
